
<div class="col-lg-6">
    <div class="card" book_id="{{id}}" style="">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{img_url}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>

            <p class="card-text author">Author: {{author}}</p>
          </div>
          
      
            
        </div>
            
      </div>
    </div>
  </div>
</div>