<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logophile | Read. Share. Repeat.</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header id="header">
      <h1>
        <img src="/css/images/logo.png" class="img-fluid" alt="logo" href="">
      </h1></header>
      <nav id="navigation">
          <button class="button" href="/">Home</button>
          <button class="button" href="/userpage">My Books</button>
          {{#if accessToken}}
          <button id= "logout" class="button" href="">Log Out</button>
          {{else}}
          <button class="button" href="/login"`ยก`>Log In</button>
          {{/if}}
      </nav>
    </header>
    <main id="content">
       {{{ body }}}
    </main>
    <footer id="footer" class="navbar fixed-bottom">
      Don't just read it, logo it.
    </footer>
  </div>
  
  {{#if accessToken}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>