
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logophile | Read. Share. Repeat.</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="wrapper">
    <header id="header">
      <nav class="navbar navbar-expand-sm">
        <div class="navbar-header">
          <a class="img-fluid navbar-brand" href="#"><img src="css/images/logo.small.png"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userpage">Bookshelf</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
              <a class="nav-link" id="logout" href="#">Log Out</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
    <main id="content">
      {{{ body }}}
    </main>
    <footer id="footer" class="navbar fixed-bottom">
      Don't just read it, logo it.
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>