
<div class="input-group">
  <div class="form-outline">
    <input type="search" id="book-search-box" class="form-control" />
    <label class="form-label" for="book-search-box">Search</label>
  </div>
  <button type="button" id="book-search" class="btn btn-primary">
    Search
  </button>
</div>

<div class="container" id="google_books_list" >
  
</div>


<!--
<ol class="book-list">
  {{#each books as |book|}}
  <li>
    <p>Book</p>
    {{> book-info book}}
  </li>
  {{/each}}
</ol>
-->