{{> book-info_reduced book}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="submit_comment" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments book.comments}}
