
<h1>This is the userpage for {{user}}</h1>
 {{#each books as |book|}}

<div class="row mt-4"></div>
<div class="container col align-self-center"></div> 
   
    
        {{> book-info book=book loggedIn=true}}
        {{> comments book.comments}}
    
    </div>
</div>
 {{/each}}