* { padding: 0; margin: 0; }



body {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 13px;
 background-color: #F4EDE2;
 color: #3B3224;
}
#wrapper { 
 margin: 0 auto;
 width: 922px;
}
#header {
 width: 100%;
 padding: 10px;
 /*border: 1px solid #ccc;*/
 /*height: 100px;*/
 background: #719D6B;
 /*display: flex;*/
 /*justify-content: space-between;
 position: relative;*/
}
.img-fluid {
    /* max-width: 25%; */
    max-height: 60px;
}

img {
    height: 80px;
}

.nav-item {
    background-color:#719D6B;
    border: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.nav-item:hover {
    background-color: #b2c7af;
    color: #3B3224;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color:#3B3224;
}
.navbar-nav > li{
    margin-left: 50px;
    margin-right: 50px;
}

#content { 
 width: 100%;
 color: #333;
 background:#F4EDE2;
 margin: 0px 0px 0px 0px;
 padding: 10px;
}
#footer { 
 width: 100%;
 color: #333;
 border: 1px solid #ccc;
 background-color:#b2c7af;
 padding: 10px;
 font-weight: bold;
}

.card-img{
    object-fit:contain;
}


.rating_stars {
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    color: #918f8f;
    position: relative;
}

.rating_stars span .fa, .rating_stars span.active-low .fa-star-o, .rating_stars span.active-high .fa-star-o{
	display: none;
}

.rating_stars span .fa-star-o{
	display: inline-block;
}

.rating_stars span.s.active-high .fa-star{
	display: inline-block; color: #feb645;
}

.rating_stars span.s.active-low .fa-star-half-o{
	display: inline-block; color: #feb645;
}

.rating_stars span.r {
	position: absolute;
	top: 0;
	height: 20px;
	width: 10px;
	left: 0;
}

    .rating_stars span.r.r0_5 {left:0px;}
    .rating_stars span.r.r1 {left:10px; width: 11px;}
    .rating_stars span.r.r1_5 {left:21px; width: 13px;}
    .rating_stars span.r.r2 {left:34px; width: 12px;}
    .rating_stars span.r.r2_5 {left:46px; width: 12px;}
    .rating_stars span.r.r3 {left:58px; width: 11px;}
    .rating_stars span.r.r3_5 {left:69px; width: 12px;}
    .rating_stars span.r.r4 {left:81px; width: 12px;}
    .rating_stars span.r.r4_5 {left:93px; width: 12px;}
    .rating_stars span.r.r5 {left:105px; width: 12px;}

   





/*@media (min-width: 481px) and (max-width: 768px) {
    /*.navbar-nav > li{
        margin-left: 0;
        margin-right: 0;
        display: inline;
        position: absolute;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        display: inline-block;
    }
}*/
